@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Josefin+Sans:wght@100&family=Reenie+Beanie&display=swap');


.App {
  text-align: center;
}

body {
  background-color: black;
}


.heading {
  font-size: 50px;
  color: white;
  letter-spacing: 15px;
}

.books_container {
  display: flex;
  flex-wrap: wrap;
}
.books {
  flex-basis: 33.333%;
  color: white;
  justify-content: center;
}
.author {
  font-size: 50px;
}
.title {
  font-family: reenie beanie;
  font-size: 40px;
}







