@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Josefin+Sans:wght@100&family=Reenie+Beanie&display=swap');


.App {
  text-align: center;
}
body {
  background-color: black;
}

.search_bar {
  border-radius: 5px;
  border-color: none;
  margin-bottom: 10px;
  padding: 5px 30px;
}
.heading {
  color: white;
  letter-spacing: 20px;
}
.button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.button:hover {
  cursor: pointer;
}
.heading_two {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.books_section {
  color: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.author {
  font-size: 40px;
}
.title {
  font-size: 25px;
  font-family: Reeanie Beanie;
}
.all_books {
  flex-basis: 33.333%;
}






